BasedOnStyle: LLVM
Language: ObjC
IndentWidth: 4
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterObjCDeclaration: true
  BeforeElse: true
  BeforeCatch: true
ColumnLimit: 100
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
